# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
ecc_test
pow_test
unit_tests
wallet_test
libbshare.a

